*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #202120;
    color: darkorange;
}

header {
    text-align: center;
    margin-top: 20px;
    font-size: 150%;

}

.buttons {
    color: red;
    margin: 5%;
    
}
#game-area {
    align: center;
    
}

#score{ 
    
}

#game-area{
    text-align: center;
}

.btn1 {
    width: 110px;
    height: 110px;
    
}

#scissors {
    right: 20%;
}

.picked{
    text-align: center;
}

#score {
    text-align: center;
    margin: 5%;
}

.scores{
    margin: 5%;
}

#comp-board{
    text-align: right;
}

#turns{
    text-align: center;
}